@import url('https://fonts.googleapis.com/css?family=Roboto:400i');
body {
    background-color: black;
}
.main_title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
    text-align: center;
}
.main_body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    text-align: center;
}
.svg {
    color: white;
    fill: white;
}
a:hover {
    color:white;
}
a {
    color: purple;
}
